# Ativa o motor de reescrita de URL do Apache
RewriteEngine On

# Define a pasta base do projeto.
# Se sua pasta se chama API_PC, a linha deve ser /API_PC/
# Se o nome for diferente, ajuste aqui.
RewriteBase /API_PC/

# Se a URL solicitada NÃO for um arquivo que já existe...
RewriteCond %{REQUEST_FILENAME} !-f
# ...e também NÃO for um diretório que já existe...
RewriteCond %{REQUEST_FILENAME} !-d

# ...então, redirecione a requisição para o index.php.
# O [L] significa que esta é a última regra a ser processada.
RewriteRule . index.php [L]
